.c1 {background-color: red; fill: red}
.c2 {background-color: green; fill: green}
.c3 {background-color: orchid; fill: orchid}
.c4 {background-color: blue; fill: blue}
.c5 {background-color: grey; fill: grey}
.c6 {background-color: orange; fill: orange}
.c7 {background-color: cyan; fill: cyan}

